language: php
php:
- 5.5
branches:
  only:
    - master
before_script:
  - curl -sS https://getcomposer.org/installer | php
  - chmod +x composer.phar
  - cd FizzBuzz
  - php composer.phar install
script: phpunit tests/
